venv*/
.vscode/
Data.nosync/
testing.py
.DS_Store
HelperFunctions/__pycache__/
HelperFunctions/NotFunctional/
testingNLDeform.py
testingremap.py
testimgs/
Cython/
build/
saved_model/
training/
3/
test/
train/
val/
Segmentations/
sampleImgs/
*png