venvSegmentation/
venvSegmentation3_8/
.vscode/
Data.nosync/
testing.py
.DS_Store
PinsToOrient.txt
openslide-python/
testing.txt
testimage.png
archaicFunc.py
HelperFunctions/__pycache__/
HelperFunctions/NotFunctional/
.idea
testingNLDeform.py
testingremap.py
dog.png
checkerboard.png
nonRigidAlignFeatFix.py
testimgs/
Cython/
build/
saved_model/
training/

